<mat-card>
  <mat-card-header>
    <mat-card-title>Új nyugta létrehozása</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Details -->
      <div class="form-section">
        <h3>Alapadatok</h3>
        <div class="form-grid">
          <mat-form-field>
            <mat-label>Előtag</mat-label>
            <input matInput formControlName="prefix">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Fizetési mód</mat-label>
            <mat-select formControlName="paymentMethod">
              @for (option of paymentMethodOptions; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Pénznem</mat-label>
            <input type="text" matInput formControlName="currency" [matAutocomplete]="auto">
            <mat-icon matSuffix style="font-size: 1.2em; color: gray;">arrow_drop_down</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of currencyOptions; track option) {
                <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <mat-checkbox formControlName="pdfDownload">PDF letöltés</mat-checkbox>

          <mat-form-field class="full-width">
            <mat-label>Megjegyzés</mat-label>
            <textarea matInput formControlName="note" rows="3"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Items -->
      <div class="form-section">
        <div class="item-header">
        <h3>Tételek</h3>
        @if (hasItems) {
          <div class="total-inline">
            <span>Összesen: {{ totalGross }} {{ form.get('currency')?.value }}</span>
          </div>
        }
        </div>

        <button type="button" mat-stroked-button (click)="addItem()" color="primary">
          <mat-icon>add</mat-icon> Új tétel
        </button>
        
        <div formArrayName="itemList" class="items-list">
          @for (item of itemList.controls; track item; let i = $index) {
            <div [formGroupName]="i" class="item-group">
              <div class="item-grid">
                <mat-form-field>
                  <mat-label>Megnevezés</mat-label>
                  <input matInput formControlName="name">
                </mat-form-field>
                
                <mat-form-field>
                  <mat-label>Mennyiség</mat-label>
                  <input matInput type="number" formControlName="amount">
                </mat-form-field>
                
                <mat-form-field>
                  <mat-label>Egység</mat-label>
                  <input matInput formControlName="unitOfMeasure">
                </mat-form-field>
                
                <mat-form-field>
                  <mat-label>Nettó egységár</mat-label>
                  <input matInput type="number" formControlName="netUnitPrice">
                </mat-form-field>
                
                <mat-form-field>
                    <mat-label>ÁFA kulcs</mat-label>
                    <mat-select formControlName="vatRate">
                        @for (afa of vatRateOptions; track afa) {
                        <mat-option [value]="afa">{{ afa }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="readonly-field">
                    <mat-label>Nettó Összeg</mat-label>
                        <input matInput type="number" formControlName="net" readonly>
                        <span matSuffix class="currency-suffix">{{ form.get('currency')?.value }}</span>
                    <mat-hint>Automatikusan számolva</mat-hint>
                </mat-form-field>

                <mat-form-field class="readonly-field">
                    <mat-label>ÁFA Összeg</mat-label>
                        <input matInput type="number" formControlName="vat" readonly>
                        <span matSuffix class="currency-suffix">{{ form.get('currency')?.value }}</span>
                </mat-form-field>

                <mat-form-field class="readonly-field">
                    <mat-label>Bruttó Összeg</mat-label>
                        <input matInput type="number" formControlName="gross" readonly style="font-weight: bold;">
                        <span matSuffix class="currency-suffix">{{ form.get('currency')?.value }}</span>
                </mat-form-field>
                
                <button type="button" mat-icon-button (click)="removeItem(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      <!-- Payments -->
      <div class="form-section">
        <div class="item-header">
        <h3>Kifizetések</h3>
        @if(hasPayments) {
        <div class="total-inline">
          <span [class]="remainingAmount > 0 ? 'positive' : 'negative'">
            {{ remainingAmount | number:'1.2-2' }} {{ form.get('currency')?.value }} hátra
          </span>
        </div>
      }
      </div>

        <button type="button" mat-stroked-button (click)="addPayment()" color="primary">
          <mat-icon>add</mat-icon> Új kifizetés
        </button>
        
        <div formArrayName="paymentList" class="items-list">
          @for (payment of paymentList.controls; track payment; let i = $index) {
            <div [formGroupName]="i" class="item-group">
              <div class="item-grid">
                <mat-form-field>
                  <mat-label>Fizetőeszköz</mat-label>
                  <input matInput formControlName="meansOfPayment">
                </mat-form-field>
                
                <mat-form-field>
                  <mat-label>Összeg</mat-label>
                  <input matInput type="number" formControlName="amount">
                </mat-form-field>
                
                <button type="button" mat-icon-button (click)="removePayment(i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          }
        </div>
      </div>

      <div class="nav-bar">
        <button mat-raised-button color="primary" routerLink="/home">
          <mat-icon>arrow_back</mat-icon>
          Vissza
        </button>
        <button mat-raised-button 
                color="accent" 
                type="submit" 
                [disabled]="form.invalid || form.get('itemList')?.errors?.['atLeastOneItem'] || formInvalidDueToPayments">
          <mat-icon>send</mat-icon>
          Létrehozás
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
